{# Share Button Component
   Renders a small "Share" button that copies the current visualization URL
   (with state params) to the clipboard.

   Usage: {% include "components/share-button.njk" %}
#}
<button type="button" id="share-btn" class="btn btn-default btn-xs share-btn" title="Copy shareable link">
    <i class="fa fa-link"></i> Share
</button>
