---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ siteInfo.url }}/</loc>
        <priority>1.0</priority>
    </url>
    {%- for viz in collections.visualizations %}
    <url>
        <loc>{{ siteInfo.url }}/{{ viz.data.permalink }}</loc>
        <priority>0.8</priority>
    </url>
    {%- endfor %}
</urlset>
